<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40-client" developmentDependency="true" />
  <package id="Fody" version="2.3.19" targetFramework="net40-client" developmentDependency="true" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40-client" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net40-client" />
</packages>